<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DinDinTrack - Cadastro de Cartão</title>
</head>
<body>
    <h1>Cadastro de Cartão </h1>

    <form action="{% url 'criar_cartao' %}" method="post">
        {% csrf_token %}
        {% for field in formulario %}
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <br><br>
        {% endfor %}
        <button type="submit">Cadastrar Cartão</button>
</body>
</html>