{% extends "base.html" %}
{% block title %}DinDinTrack - Login (Erro){% endblock %}
{% block content %}
<h1>Login</h1>
<p class="muted" style="color:#b91c1c">Credenciais inválidas ou Usuário não encontrado. Por favor, tente novamente.</p>
<form action="{% url 'login' %}" method="post" class="form">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="name" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <div style="margin-top:12px">
        <button type="submit" class="primary">Login</button>
    </div>
</form>
{% endblock %}